/* Reset & Dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth; /* Membuat scroll antar menu jadi halus */
}

body {
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* header*/
nav {
    background: #e39cc0;
    color: hsl(0, 17%, 98%);
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #2c3e50;
}

/* Hero Section */
header {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), 
                url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?auto=format&fit=crop&w=1350&q=80');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

header h1 { 
    font-size: 3.5rem; 
    margin-bottom: 10px; 
}

header p { 
    font-size: 1.5rem; 
    opacity: 0.9; 
}

/* Container & Section */
.container {
    max-width: 1100px;
    margin: auto;
    padding: 80px 20px;
}

section { 
    background: #fff; 
    margin-bottom: 30px; 
    padding: 40px;
    border-radius: 8px; 
    box-shadow: 0 5px 15px rgba(0,0,0,0.1); 
}

h2 { 
    text-align: center; 
    margin-bottom: 40px; 
    font-size: 2rem; 
    color: #2c3e50; 
    position: relative;
}

/* Garis bawah judul */
h2::after {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background: #e39cc0;
    margin: 10px auto;
}

/* Grid Skill */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.skill-card {
    background: #ecf0f1;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.skill-card:hover { 
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

/* Form Kontak */
.contact-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
}

.contact-form input, .contact-form textarea {
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.contact-form input:focus {
    border-color: #e39cc0;
}

.btn {
    background: #e39cc0;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;
}

.btn:hover { 
    background: #2c3e50; 
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #e39cc0;
    color: white;
}